.header {
  --header-height: 5.5rem;
  height: var(--header-height);
  position: relative;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #ccc;
  z-index: 100;
}

.content { 
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.button_icon {
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  border: 2px solid var(--teal-300);
  background: var(--teal-600);
  color: #fff;
  transition: 0.2s all;
}

.button_icon:hover {
  background: var(--teal-400);
  color: black;
  border: 2px solid var(--teal-900);
}

.button_icon:focus {
  background: var(--teal-400);
  color: black;
  border: 2px solid var(--teal-900);
}

.navbar {
  position: absolute;
  top: calc(1rem + var(--header-height));
  border: 2px solid var(--teal-400);
  border-radius: 10px;
  width: calc(100% - 2rem);
  max-width: 360px;
  padding: 0 1rem;
  background: var(--teal-50);
  flex-direction: column;
  align-items: center;
}

.navbar::before {
  content: '';
  position: absolute;
  top: -10px;
  right: 0.75rem;
  width: 20px;
  height: 20px;
  background: var(--teal-400);
  transform: rotate(45deg);
  z-index: -1;
}

.navbar a {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--teal-900);
}

.navbar a:nth-child(n+2) {
  border-top: 1px solid var(--teal-400);
}

@media (min-width: 360px) {
  .navbar {
    right: 1rem;
  }
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ccc;
    z-index: 100;
  }

  .navbar {
    position: static;
    border: none;
    width: auto;
    padding: 0;
    background: none;
    flex-direction: row;
    align-items: center;
  }

  .navbar::before {
    position: static;
    display: none;
  }

  .navbar a {
    width: 100%;
    padding: 0.5rem 1rem;;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    background: var(--teal-50);
    color: var(--teal-900);
    border: 1px solid var(--teal-400);
    border-radius: 5px;
  }
  
  .navbar a:nth-child(n+2) {
    margin-left: 1rem;
  }

  .button_icon {
    display: none;
  }
}