:root {
/*=== Cores primarias da plataforma ===*/
  --teal-50: #E6FFFA;
  --teal-100: #B2F5EA;
  --teal-200: #81E6D9;
  --teal-300: #4FD1C5;
  --teal-400: #38B2AC;
  --teal-500: #319795;
  --teal-600: #2C7A7B;
  --teal-700: #285E61;
  --teal-800: #234E52;
  --teal-900: #1D4044;

  --blue-50: #eef6ff;
  --blue-100: #a0caff;
  --blue-200: #79b3ff;
  --blue-300: #529dff;
  --blue-400: #2a87ff;
  --blue-500: #0371ff;
  --blue-600: #0060db;
  --blue-700: #004fb4;
  --blue-800: #003d8c;
  --blue-900: #002c65;
  --blue-1000: #001b3e;

  /*=== Cores para botões e acessorios ===*/
  --red-lumos: #F31E32;
  --red-100: #DC848D;
  --red-300: #CE535F;
  --red-400: #C73A48;
  --red-600: #BA0A1B;
  --red-700: #8A0714;

  --green-lumos: #D1F5EC;
  --green-100: #B3EEE0;
  --green-300: #95E7D4;
  --green-400: #68DEC2;
  --green-600: #489B87;
  --green-700: #346F61;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-font-smoothing: antialiased;
  outline: 0;
  box-sizing: border-box;}

/* Extra large widgets */
@media (max-width: 1280px) {
  html {
    font-size: 93.75%;
  }
}

/* Large widgets */
@media (max-width: 992px) {
  html {
    font-size: 87.5%;
  }
}

/* Medium widgets */
@media (max-width: 768px) {
  html {
    font-size: 81.25%;
  }
}

/* Small widgets */
@media (max-width: 480px) {
  html {
    font-size: 75%;
  }
}